.TablaComponentesParecidos{
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

  .TablaComponentesParecidos th, .TablaComponentesParecidos td {
    border: 1px solid #1c3663ff;
    padding: 8px;
  }
  
  .TablaComponentesParecidos thead {
    background-color: #1c3663ff;
    color : #e3ecfcff;
    
  }

  
.img1 {
  position: absolute;
  padding-left: -190px; /* Ajusta este valor según sea necesario */
  top: 0;
  width: 300px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  background-color: white; /* O el color de fondo que desees */
  padding: 10px; /* Opcional: para añadir espacio alrededor de la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: para añadir sombra */
}
